.btn {
  &-main {
    background-color: $orange;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none !important;
    outline: none;
    border: 0;

    &:hover {
      background-color: $orange;
      opacity: 0.8;
      color: white;
    }
  }

  &-inner {
    @extend .btn-main;

    background-color: white;
    color: $orange;
    border: 1px $orange solid;

    &:hover {
      color: $orange;
    }
  }
}