* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Uni';
}

img {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.page-title {
  font-family: 'Summer';
}

.site-link {
  color: $text-color;
  transition: 200ms ease;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $orange;
  }
}

.site-modal {
  .modal-header, .modal-footer {
    border: 0;
  }
}

.site-list {
  display: flex;
  flex-direction: column;


  &-col {
    flex: 1 1 25%;
    padding: 5px;
  }

  &-header {
    font-size: 18px;
  }

  &-row {
    display: flex;
    flex-direction: row;

    &:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
}

.info-block {
  border-left-width: 2px;
  border-left-style: solid;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 5px;

  &.succ {
    border-left-color: #0abdf6;
  }

  &.error {
    border-left-color: red;
  }
}