.site-form {
  display: flex;
  flex-direction: column;

  &-label {
    width: 100%;
    border: 2px $orange solid;
    border-radius: 7px;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 15px;

    &__caption {
      line-height: 1;
      color: grey;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &-break {
    font-weight: bold;
    margin-top: 1rem;
  }

  &-input {
    width: 100%;
    border: 0;
    padding: 0;
    border-radius: 7px;
    outline: 0;
    height: 20px;
  }

  &-submit {
    @extend .btn-main;
    padding: 5px;
    margin-top: 10px;
  }
}

.edit-form {
  max-width: 600px;
}