include mixin/footerSocialItem
include mixin/footerMenuItem

footer.footer
    .container
        .footer-row
            .footer-col
                .footer-title Отличное начало
                .footer-descr Интернет-магазин продуктов
                .footer-mail
                    a(href="mailto:").site-link sale@test.loc
                .footer-phone
                    a(href="tel:9").site-link 8 (800) 777 99-99
                ul.footer-menu
                    -
                        var items = [
                            {
                                title: "Главная",
                                href: "/",
                            },
                            {
                                title: "О компании",
                                href: "/",
                            },
                            {
                                title: "Акции",
                                href: "/",
                            },
                            {
                                title: "Доставка и оплата",
                                href: "/",
                            },
                            {
                                title: "Контакты",
                                href: "/",
                            },
                        ]
                    each item,index in items
                        +footerMenuItem(item)
            .footer-col
                ul.footer-menu
                    -
                        var items = [
                            {
                                title: "Замороженные полуфабрикаты",
                                href: "/",
                            },
                            {
                                title: "Гриль и шашлык",
                                href: "/",
                            },
                            {
                                title: "Мука",
                                href: "/",
                            },
                            {
                                title: "Молочная продукция",
                                href: "/",
                            },
                            {
                                title: "Мясные деликатесы",
                                href: "/",
                            },
                            {
                                title: "Мясо и субпродукты",
                                href: "/",
                            },
                            {
                                title: "Колбаса и сосиски",
                                href: "/",
                            },
                        ]
                    each item,index in items
                        +footerMenuItem(item)
            .footer-col
                ul.footer-menu
                    -
                        var items = [
                            {
                                title: "Согласие на обработку персональных данных",
                                href: "/",
                            },
                        ]
                    each item,index in items
                        +footerMenuItem(item)
            .footer-col
                .footer-social
                    -
                        var items = [
                            {
                                src: "./assets/images/social/instagram.png"
                            },
                            {
                                src: "./assets/images/social/vk.png"
                            },
                            {
                                src: "./assets/images/social/odnoklassniki.png"
                            },
                        ]
                    each item,index in items
                        +footerSocialItem(item)
                .footer-subscribe
                    form.footer-subscribe-form
                        input.footer-subscribe-form-input(placeholder="Подпишись на обновления")
                        button.footer-subscribe-form-submit
                            div Подписаться
                            i.fas.fa-bell