include mixin/headerMenuItem
include mixin/headerTopMenuItem

header.header-mobile
    .header-mobile-menu-container
        .header-mobile-menu-switch.header-mobile-icon.site-link
            i.fas.fa-bars
        .header-mobile-menu.active
            .header-mobile-menu-close.site-link
                .header-mobile-menu-close__icon
                    i.far.fa-times-circle
            .header-mobile-menu-list
                a(href="#").active.header-mobile-menu-list-item Главная
                a(href="#").header-mobile-menu-list-item Каталог
                a(href="#").header-mobile-menu-list-item О компании
                a(href="#").header-mobile-menu-list-item Акции
                a(href="#").header-mobile-menu-list-item Доставка и оплата
            .header-mobile-menu-list
                a(href="#").header-mobile-menu-list-item Замороженные полуфабрикаты
                a(href="#").header-mobile-menu-list-item Гриль и шашлык
                a(href="#").header-mobile-menu-list-item Мука
                a(href="#").header-mobile-menu-list-item Молочная продукция
                a(href="#").header-mobile-menu-list-item Мясные деликатесы
                a(href="#").header-mobile-menu-list-item Мясо и субпродукты
                a(href="#").header-mobile-menu-list-item Колбаса и сосиски
    a(href="/").header-mobile-logo
        img(src="./assets/images/logo.jpg")
    .header-mobile-phone.header-mobile-icon.site-link
        i.fas.fa-phone
    .header-mobile-search.header-mobile-icon.site-link
        i.fas.fa-search
    .header-mobile-cart.header-mobile-icon.site-link
        i.fas.fa-shopping-cart
header.header
    .header-top-line
        .header-select-city
            .header-select-city-title Ваш город:
            .header-select-city-target Барнаул
        ul.top-menu
            -
                var top_items = [
                    {
                        title: 'Главная',
                        link: '/',
                        isActive: '',
                    },
                    {
                        title: 'О компании',
                        link: '/',
                        isActive: 'active',
                    },
                    {
                        title: 'Акции',
                        link: '/',
                        isActive: 'active',
                    },
                    {
                        title: 'Доставка и оплата',
                        link: '/',
                        isActive: 'active',
                    },
                    {
                        title: 'Контакты',
                        link: '/',
                        isActive: 'active',
                    },
                ]
            each item,index in top_items
                +headerTopMenuItem(item)
    div.header-line
        a(href="/").logotype-wrap
            img.logotype(src="/assets/images/logo.jpg")
        div.search-form-wrap
            form.search-form
                input.search-form-input(placeholder="Поиск по сайту")
                button.search-form-button
                    i.fas.fa-search
        div.header-icon(data-toggle="modal" data-target="#authModal")
            i.header-icon-icon.fas.fa-user-alt
            .header-icon-title Войти
        div.header-icon
            i.header-icon-icon.fas.fa-box
            .header-icon-title Заказы
        div.header-icon
            .header-icon-counter 50
            i.header-icon-icon.far.fa-heart
            .header-icon-title Избранное
        div.header-icon
            i.fas.fa-shopping-basket
            div Корзина
    div.header-line
        ul.menu
            -
                var items = [
                    {
                        title: 'Мясные деликатесы',
                        link: '/',
                        isActive: '',
                    },
                    {
                        title: 'Замороженные полуфабрикаты',
                        link: '/',
                        isActive: 'active',
                    },
                    {
                        title: 'Колбаса и сосиски',
                        link: '/',
                        isActive: '',
                    },
                    {
                        title: 'Мука',
                        link: '/',
                        isActive: '',
                    },
                    {
                        title: 'Мясо и субпродукты',
                        link: '/',
                        isActive: '',
                    },
                    {
                        title: 'Молочная продукция',
                        link: '/',
                        isActive: '',
                    },
                ]
            each item,index in items
                +headerMenuItem(item)