doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://kit.fontawesome.com/75e4faf288.js" crossorigin="anonymous")
        title Вёрстка
    body
        .container
            include header
            block contents
        include footer
        // auth modal
        include block/modal