mixin basketItem(item)
    .basket-item
        a(href="/").basket-item-image-wrap
            img(src=item.src).basket-item-image
        .basket-item-info
            a(href="/").basket-item-name.site-link=item.name
            .basket-item-article='Артикул: ' + item.article
            .basket-item-action
                a(href="#").basket-item-action-item В избранное
                a(href="#").basket-item-action-item Удалить из корзины
        .basket-item-price-group
            .basket-item-price=item.price + ' ₽'
            .basket-item-price-old=item.price + ' ₽'
            .basket-item-price-discount=item.discount + ' ₽'
