mixin catalogItem(item)
    .catalog-item-wrap
        .catalog-item
            .catalog-action
                .catalog-action-item.compare
                    .fas.fa-heart
                .catalog-action-item.favorite
                    .fas.fa-balance-scale-right
            a(href="/").catalog-item-link
                img.catalog-item-image(src=item.src)
            a(href="/").catalog-item-link.site-link
                .catalog-item-name=item.name
            .catalog-item-price-group
                .catalog-item-price=item.price + ' ₽'
                .catalog-item-price-discount=item.discount + ' ₽'
                .catalog-item-price-old=item.price + ' ₽'
            .catalog-item-basket.btn-main В корзину