extends include/layer

block contents
    h1.page-title О компании
    .index-about-container
        .index-about-logo
            img(src="./assets/images/logo.jpg")
        .index-about-text
            p Наша компания реализует замороженные полуфабрикаты (пельмени, вареники, манты, хинкали, котлеты, тефтели), колбасы (краковская, сосиски молочные, колбаски гриль), мясные деликатесы (карбонат, грудинка, балык, рулет мясной, холодец), блины (с мясной и сладкой начинкой), пироги (самса, чебуреки, штрудели).
            p Мы напрямую сотрудничаем с алтайскими производителями продуктов питания. Мы выбираем для вас производителей, которые заботятся о натуральности и высоком качестве своей продукции.
            p Для производства полуфабрикатов используется свежее мясо, молоко, яйца и овощи, которые закупаются напрямую в фермерских хозяйствах Алтайского края. При производстве полуфабрикатов технологи применяют традиционные рецепты, благодаря этому вкус готового блюда так напоминает домашнюю еду. Применение современной технологии "шоковой заморозки" позволяет полуфабрикатам сохранить полезные питательные свойства. Колбасы и мясные деликатесы состоят из натуральных ингредиентов, поэтому срок их хранения составляет не более 10 суток.
            p Также в нашем интернет-магазине вы можете приобрести натуральные и вкусные молочные продукты ТМ "Алтайская Буренка". Молоко с алтайских лугов, сметана, творог, масло, натуральные йогурты с фруктами и ягодами, всё это несомненно придется по вкусу вам и вашим детям.
            p Мы также реализуем муку высшего сорта ТМ "ПряниковЪ".
            p Покупая в нашем интернет-магазине замороженные полуфабрикаты, колбасы и мясные деликатесы, вы избавляетесь от утомительных походов по магазинам и экономите время на приготовление завтрака, обеда или ужина.
            p Наши готовые продукты удобно взять с собой на дачу или на отдых на природе. Обратите внимание на актуальное предложение: колбаски для гриля и мясо в маринаде для шашлыка.
            p Оформите заказ на нашем сайте и мы доставим вам домой или в офис свежие и вкусные продукты по оптимальной цене.
    .swiper.about-slider
        .swiper-wrapper
            .swiper-slide
                img(src="./assets/images/about/1.jpg")
            .swiper-slide
                img(src="./assets/images/about/2.jpg")
            .swiper-slide
                img(src="./assets/images/about/3.jpg")
            .swiper-slide
                img(src="./assets/images/about/4.jpg")
            .swiper-slide
                img(src="./assets/images/about/5.jpg")
