extends include/layer

include include/mixin/basketItem

block contents
    include include/block/breadcrumbs
    h1.page-title Корзина товаров
    .basket-container
        .basket
            -
                var items = [
                    {
                        name: 'Творог 2% 450 г.(ПитПак)',
                        src: './assets/images/product/1.jpg',
                        price: 1500,
                        article: 'mkasdoa',
                        discount: 1000,
                    },
                    {
                        name: 'Творог 2% 220 г. (капля)',
                        src: './assets/images/product/2.jpg',
                        price: 1500,
                        article: 'mkasdoa',
                        discount: 1000,
                    },
                    {
                        name: 'Творог 2% 180 г. (ФлоуПак)',
                        src: './assets/images/product/3.jpg',
                        price: 1500,
                        article: 'mkasdoa',
                        discount: 1000,
                    },
                    {
                        name: 'Масло "Крестьянское" 72,5 % 180 г. (сладко - сливочное)',
                        src: './assets/images/product/4.jpg',
                        price: 1500,
                        article: 'mkasdoa',
                        discount: 1000,
                    },
                    {
                        name: 'Сметана 20 % 200 г.',
                        src: './assets/images/product/5.jpg',
                        price: 1500,
                        article: 'mkasdoa',
                        discount: 1000,
                    },
                    {
                        name: 'Шашлык в оболочке',
                        src: './assets/images/product/6.jpg',
                        price: 1500,
                        article: 'mkasdoa',
                        discount: 1000,
                    },
                ]
            each item,index in items
                +basketItem(item)
        .basket-info-container
            .basket-info
                .basket-info-item.title
                    .basket-info-item-key Ваша корзина
                    .basket-info-item-value 2 товара * 12кг
                .basket-info-item
                    .basket-info-item-key Товары
                    .basket-info-item-value 195 653 Р
                .basket-info-item
                    .basket-info-item-key Общая стоимость
                    .basket-info-item-value 195 653 Р
            a(href="#").btn-main Перейти к оформлению
            a(href="#").btn-inner Перейти в каталог