extends include/layer

include include/mixin/productInfoPropsItem
include include/mixin/offerSliderItem

block contents
    include include/block/breadcrumbs

    .product-info
        .product-info-left-side
        .product-info-main
            .product-info-image-wrap
                img(src="./assets/images/product/1.jpg").product-info-image
        .product-info-right-side
            h1.page-title Масло "Крестьянское" 72,5 % 180 г. (сладко - сливочное)
            .catalog-item-price-group
                .catalog-item-price 1500 ₽
                .catalog-item-price-discount 1500 ₽
                .catalog-item-price-old 1000 ₽
            .product-info-basket-control
                button.btn-main.product-info-basket В корзину
                button.btn-main.product-info-favorite
                    i.far.fa-heart
            .product-info-title Характеристики
            .product-info-some-props
                .product-info-props
                    -
                        var items = [
                            {
                                key: 'Жирность',
                                value: '3.5%',
                            },
                            {
                                key: 'Белков',
                                value: '350гр',
                            },
                            {
                                key: 'Сера',
                                value: '30 ME',
                            },
                            {
                                key: 'Биотин',
                                value: '20гр/кг',
                            },
                            {
                                key: 'Жирность',
                                value: '3.5%',
                            },
                        ]
                    each prop,index in items
                        +productInfoPropsItem(prop)
                .product-info-props-next Больше характеристик
            .product-info-manufacture
                .product-info-manufacture-avatar
                    img(src="./assets/images/cow.jpg")
                .product-info-manufacture-info
                    .product-info-manufacture-info-position Производитель
                    .product-info-manufacture-info-name Алтайская бурёнка
    .product-info-description
        h2 Описание
        div Творог изготавливается из нежирных сортов молока. Его получают в процессе сквашивания молока, после чего сыворотка удаляется. Этот продукт легко усваивается организмом и содержит в своем составе массу полезных элементов, в том числе важнейшие аминокислоты – метионин и триптофан.
    .product-info-more-props
        h2 Характеристики
        .product-info-more-props-container
            .product-info-props
                -
                each prop,index in items
                    +productInfoPropsItem(prop)
            .product-info-props
                -
                each prop,index in items
                    +productInfoPropsItem(prop)
    .product-info-offers-slider-container
        h2 С этим товаром покупают
        .swiper.product-info-offers-slider
            .swiper-wrapper
                -
                    var sliders = [
                        {
                            name: 'Творог 2% 450 г.(ПитПак)',
                            src: './assets/images/product/1.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Творог 2% 220 г. (капля)',
                            src: './assets/images/product/2.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Творог 2% 180 г. (ФлоуПак)',
                            src: './assets/images/product/3.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Масло "Крестьянское" 72,5 % 180 г. (сладко - сливочное)',
                            src: './assets/images/product/4.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Сметана 20 % 200 г.',
                            src: './assets/images/product/5.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Шашлык в оболочке',
                            src: './assets/images/product/6.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                    ]
                each item,index in sliders
                    +offerSliderItem(item)