extends include/layer

include include/mixin/catalogItem
include include/mixin/catalogSideThreeItem

block contents
    include include/block/breadcrumbs
    h1.page-title Молочная продукция
    .catalog-container
        .catalog-side
            .catalog-side-three
                -
                    var items = [
                        {
                            name: 'Сыры',
                            link: '/',
                        },
                        {
                            name: 'Йогурты',
                            link: '/',
                        },
                        {
                            name: 'Творог',
                            link: '/',
                        },
                        {
                            name: 'Масло сливочное',
                            link: '/',
                        },
                        {
                            name: 'Сметана',
                            link: '/',
                        },
                        {
                            name: 'Молоко',
                            link: '/',
                        },
                        {
                            name: 'Кисломолочная продукция',
                            link: '/',
                        },
                    ]
                each item,index in items
                    +catalogSideThreeItem(item)
            .catalog-filter
        .catalog
            -
                var items = [
                    {
                        name: 'Творог 2% 450 г.(ПитПак)',
                        src: './assets/images/product/1.jpg',
                        price: 1500,
                        discount: 1000,
                    },
                    {
                        name: 'Творог 2% 220 г. (капля)',
                        src: './assets/images/product/2.jpg',
                        price: 1500,
                        discount: 1000,
                    },
                    {
                        name: 'Творог 2% 180 г. (ФлоуПак)',
                        src: './assets/images/product/3.jpg',
                        price: 1500,
                        discount: 1000,
                    },
                    {
                        name: 'Масло "Крестьянское" 72,5 % 180 г. (сладко - сливочное)',
                        src: './assets/images/product/4.jpg',
                        price: 1500,
                        discount: 1000,
                    },
                    {
                        name: 'Сметана 20 % 200 г.',
                        src: './assets/images/product/5.jpg',
                        price: 1500,
                        discount: 1000,
                    },
                    {
                        name: 'Шашлык в оболочке',
                        src: './assets/images/product/6.jpg',
                        price: 1500,
                        discount: 1000,
                    },
                ]
            each item,index in items
                +catalogItem(item)