extends include/layer

block contents
    h1.page-title Контакты
    .page-contacts
        p ООО «СВЕЖЕЕ К СТОЛУ»
        p ОГРН 1162225080324
        p Юридический адрес: 659321, Россия, Алтайский край, г.Бийск, ул.Машиностроителей д.24, офис 6
        p Email: <a href="mailto:shop@provianta.ru">shop@provianta.ru</a>
        p тел. 8-923-792-72-22
    script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c9ad8a45c64484e2e4398a0222aaae28423084a785b2aed1cae819d15e3ae67&width=100%25&height=400&lang=ru_RU&scroll=true')