extends include/layer

include include/mixin/homeSliderItem
include include/mixin/offerSliderItem

block contents
    .swiper.home-slider
        .swiper-wrapper.home-slider-wrapper
            -
                var items = [
                    {
                        src: 'assets/images/sliders/index/1.webp',
                    },
                    {
                        src: 'assets/images/sliders/index/2.webp',
                    },
                ]
            each item,index in items
                +homeSliderItem(item)
        .swiper-button-next.home-slider-button-next
        .swiper-button-prev.home-slider-button-prev
    .index-categories
        .index-categories-col
            .index-categories-card-wrap.index-categories-card-wrap--1-2
                .index-categories-card
                    .index-categories-card-title Замороженные полуфабрикаты
                    .index-categories-card-background(style="background-image:url('./assets/images/semi.jpg');")
            .index-categories-card-wrap.index-categories-card-wrap--1-4
                .index-categories-card
                    .index-categories-card-title Гриль и шашлык
                    .index-categories-card-background(style="background-image:url('./assets/images/grill.jpg');")
            .index-categories-card-wrap.index-categories-card-wrap--1-4
                .index-categories-card
                    .index-categories-card-title Мука
                    .index-categories-card-background(style="background-image:url('./assets/images/muka.jpg');")
        .index-categories-col
            .index-categories-card-wrap.index-categories-card-wrap--1-2
                .index-categories-card
                    .index-categories-card-title Молочная продукция
                    .index-categories-card-background(style="background-image:url('./assets/images/milk.jpg');")
            .index-categories-card-wrap.index-categories-card-wrap--1-4
                .index-categories-card
                    .index-categories-card-title Мясные деликатесы
                    .index-categories-card-background(style="background-image:url('./assets/images/semi.jpg');")
            .index-categories-card-wrap.index-categories-card-wrap--1-4
                .index-categories-card
                    .index-categories-card-title Мясо и субпродукты
                    .index-categories-card-background(style="background-image:url('./assets/images/beef.jpg');")
        .index-categories-col
            .index-categories-card-wrap.index-categories-card-wrap--1-1
                .index-categories-card
                    .index-categories-card-title Колбаса и сосиски
                    .index-categories-card-background(style="background-image:url('./assets/images/sosiski.jpg');")
    .product-info-offers-slider-container
        h2 Товары со скидкой
        .swiper.product-info-offers-slider
            .swiper-wrapper
                -
                    var sliders = [
                        {
                            name: 'Творог 2% 450 г.(ПитПак)',
                            src: './assets/images/product/1.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Творог 2% 220 г. (капля)',
                            src: './assets/images/product/2.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Творог 2% 180 г. (ФлоуПак)',
                            src: './assets/images/product/3.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Масло "Крестьянское" 72,5 % 180 г. (сладко - сливочное)',
                            src: './assets/images/product/4.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Сметана 20 % 200 г.',
                            src: './assets/images/product/5.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                        {
                            name: 'Шашлык в оболочке',
                            src: './assets/images/product/6.jpg',
                            price: 1500,
                            discount: 1000,
                        },
                    ]
                each item,index in sliders
                    +offerSliderItem(item)
    .index-about-container
        .index-about-logo
            img(src="./assets/images/logo.jpg")
        .index-about-text
            p Наша компания реализует замороженные полуфабрикаты (пельмени, вареники, манты, хинкали, котлеты, тефтели), колбасы (краковская, сосиски молочные, колбаски гриль), мясные деликатесы (карбонат, грудинка, балык, рулет мясной, холодец), блины (с мясной и сладкой начинкой), пироги (самса, чебуреки, штрудели).
            p Мы напрямую сотрудничаем с алтайскими производителями продуктов питания. Мы выбираем для вас производителей, которые заботятся о натуральности и высоком качестве своей продукции.
            p Для производства полуфабрикатов используется свежее мясо, молоко, яйца и овощи, которые закупаются напрямую в фермерских хозяйствах Алтайского края. При производстве полуфабрикатов технологи применяют традиционные рецепты, благодаря этому вкус готового блюда так напоминает домашнюю еду. Применение современной технологии "шоковой заморозки" позволяет полуфабрикатам сохранить полезные питательные свойства. Колбасы и мясные деликатесы состоят из натуральных ингредиентов, поэтому срок их хранения составляет не более 10 суток.