doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://kit.fontawesome.com/33cf5fcfbe.js" crossorigin="anonymous")

        title Вёрстка
    body
        ul
            li
                a(href="register.html") Регистрация
            li
                a(href="profile.html") Личный кабинет
            li
                a(href="profile_orders.html") Личный кабинет - Список заказов
            li
                a(href="home.html") Главная страница
            li
                a(href="about.html") О компании
            li
                a(href="contacts.html") Контакты
            li
                a(href="catalog.html") Каталог
            li
                a(href="catalog_element.html") Просмотр товара
            li
                a(href="basket.html") Корзина
            li
                a(href="checkout.html") Оформление заказа