extends include/layer
include include/mixin/profileMenuItem
include include/mixin/profileOrdersItem
block contents
    .profile-container
        .profile-left-side
            .profile-menu
                -
                    var items = [
                        {
                            name: 'Список покупок',
                            class: 'fas fa-box',
                        },
                        {
                            name: 'Избранные товары',
                            class: 'fas fa-heart',
                        },
                        {
                            name: 'Настройки профиля',
                            class: 'fas fa-sliders-h',
                        },
                        {
                            name: 'Адреса доставки',
                            class: 'fas fa-map-marked-alt',
                        },
                    ]
                each item,index in items
                    +profileMenuItem(item)
            .profile-resume
                .profile-resume-avatar
                    img(src="./assets/images/avatar.jpg").profile-resume-avatar__image
                a(href="#").profile-resume-logout Выйти
        .profile
            h1.page-title Список заказов
            .profile-orders
                -
                    var orders = [
                        {
                            name: 'Заказ №901212',
                            money: '369 874',
                        },
                        {
                            name: 'Заказ №901212',
                            money: '369 874',
                        },
                        {
                            name: 'Заказ №901212',
                            money: '369 874',
                        },
                        {
                            name: 'Заказ №901212',
                            money: '369 874',
                        },
                        {
                            name: 'Заказ №901212',
                            money: '369 874',
                        },
                        {
                            name: 'Заказ №901212',
                            money: '369 874',
                        },
                    ]
                each item,index in orders
                    +profileOrdersItem(item)
        .profile-right-side
            .profile-short-info-container
                .profile-short-info
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                a(href="#").profile-short-info-detail Все заказы