extends include/layer
include include/mixin/profileMenuItem
block contents
    .profile-container
        .profile-left-side
            .profile-menu
                -
                    var items = [
                        {
                            name: 'Список покупок',
                            class: 'fas fa-box',
                        },
                        {
                            name: 'Избранные товары',
                            class: 'fas fa-heart',
                        },
                        {
                            name: 'Настройки профиля',
                            class: 'fas fa-sliders-h',
                        },
                        {
                            name: 'Адреса доставки',
                            class: 'fas fa-map-marked-alt',
                        },
                    ]
                each item,index in items
                    +profileMenuItem(item)
            .profile-resume
                .profile-resume-avatar
                    img(src="./assets/images/avatar.jpg").profile-resume-avatar__image
                a(href="#").profile-resume-logout Выйти
        .profile
            h1.page-title Приветствуем, Maikle Jordan
            .profile-cards
                .profile-cards-item
                    .profile-cards-item__icon
                    .profile-cards-item-data
                        .profile-cards-item__name
                        .profile-cards-item__info
        .profile-right-side
            .profile-short-info-container
                .profile-short-info
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                    .profile-short-info-item
                        .profile-short-info-item-key Заказ №9899
                        .profile-short-info-item-value 65 321 Р
                a(href="#").profile-short-info-detail Все заказы
            .profile-sales-container
                .swiper.profile-sales
                    .swiper-wrapper
                        .profile-sales-item.swiper-slide
                            img(src="./assets/images/sales/square/1.png")
                        .profile-sales-item.swiper-slide
                            img(src="./assets/images/sales/square/1.png")