extends include/layer

include include/mixin/homeSliderItem

block contents
    .site-register
        h1.page-title.site-register-title Регистрация
        form.site-form
            .site-form-break Регистрация
            label.site-form-label
                .site-form-label__caption Телефон
                input.site-form-input(placeholder='Телефон')
            label.site-form-label
                .site-form-label__caption Логин
                input.site-form-input(placeholder='Логин')
            label.site-form-label
                .site-form-label__caption Пароль
                input.site-form-input(placeholder='Пароль' type="password")
            .site-form-break Личные данные
            label.site-form-label
                .site-form-label__caption Имя
                input.site-form-input(placeholder='Имя')
            label.site-form-label
                .site-form-label__caption Фамилия
                input.site-form-input(placeholder='Фамилия')
            label.site-form-label
                .site-form-label__caption Отчество
                input.site-form-input(placeholder='Отчество')
            button.site-form-submit Завершить регистрацию
