.breadcrumbs
    .breadcrumbs-item
        a(href="/").breadcrumbs-link.site-link Главная
    .breadcrumbs-item
        a(href="/").breadcrumbs-link.site-link Каталог
    .breadcrumbs-item
        a(href="/").breadcrumbs-link.site-link Молочная продукция
    .breadcrumbs-item
        a(href="/").breadcrumbs-link.site-link Масло "Крестьянское" 72,5 % 180 г. (сладко - сливочное)