//#authModal.site-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='authModalLabel' aria-hidden='true')
//    .modal-dialog(role='document')
//        .modal-content
//            .modal-header
//                h5#authModalLabel.modal-title Modal title
//                button.close(type='button' data-dismiss='modal' aria-label='Close')
//                    span(aria-hidden='true') ×
//            .modal-body
//                form.site-form
//                    label.site-form-label
//                        .site-form-label__caption Логин
//                        input.site-form-input
//                    label.site-form-label
//                        .site-form-label__caption Пароль
//                        input.site-form-input
//                    button.site-form-submit Отправить
//            .modal-footer

#authModal.site-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='authModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#authModalLabel.modal-title Войти на сайт
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                form.site-form
                    label.site-form-label
                        .site-form-label__caption Логин
                        input.site-form-input
                    label.site-form-label
                        .site-form-label__caption Пароль
                        input.site-form-input
                    a(href="#").site-link Регистрация
                    button.site-form-submit Войти на сайт