.basket {
  flex: 0 0 70%;
  padding-right: 2rem;

  &-info {
    &-container {
      flex: 0 0 30%;
      box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
      padding: 1rem;
      border-radius: 10px;

      @media (max-width: 920px) {
        flex: 0 0 100%;
        width: 100%;
        margin-top: 1rem;
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
    }
  }

  &-container {
    display: flex;
    align-items: flex-start;

    @media (max-width: 920px) {
      flex-direction: column;
    }

    .btn-main, .btn-inner {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px;
      margin: 1rem 0;
    }
  }

  &-item {
    display: flex;
    border-bottom: 1px #e6e6e6 solid;
    padding: 10px 0;
    flex-wrap: wrap;


    @media (max-width: 920px) {
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &-name {
      font-size: 18px;
    }

    &-article {
      color: #948981;
    }

    &-price {
      &-group {
        margin-left: 5rem;

        @media (max-width: 920px) {
          margin-left: auto;
          display: flex;

          div {
            margin: 0 5px;
          }
        }
      }

      &-discount {
        color: $error-color;
      }

      &-old {
        text-align: center;
        position: relative;
        font-size: 14px;

        &:before {
          background-color: $error-color;
          content: '';
          top: 0;
          bottom: 0;
          margin: auto;
          height: 2px;
          width: 100%;
          position: absolute;
        }
      }
    }

    &-image {
      height: 90px;
      object-fit: contain;
      margin: auto;
      display: block;

      &-wrap {
        width: 200px;
        margin-right: 1rem;

        @media (max-width: 920px) {
          width: 40%;
          margin-right: 0;
        }
      }
    }

    &-info {
      width: 100%;
      max-width: 300px;

      @media (max-width: 920px) {
        max-width: 60%;
      }
    }

    &-action {
      display: block;
      font-size: 14px;
      line-height: 1.2;

      &-item {
        color: #3e637b;

        &:not(:last-child) {
          margin-right: 0.5rem;
          padding-right: 0.5rem;
          border-right: 1px silver solid;
        }
      }
    }
  }
}