.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;

  &-item {
    margin-right: 15px;
  }

  &-link {
    position: relative;

    &::before {
      background-image: url("/local/assets/images/right-arrow.png");
      background-size: 100% 100%;
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -0.6rem;
      font-size: 29px;
      line-height: 0.4;
      margin: auto;
    }
  }
}