.catalog {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
  width: 100%;

  &-side {
    max-width: 350px;
    width: 100%;
    padding-right: 15px;
  }

  &-container {
    display: flex;

    @media (max-width: 920px) {
      flex-direction: column;
    }
  }

  &-action {
    position: absolute;
    right: 0;
    top: 0;

    &-item {
      text-align: center;
      padding: 10px;
      background-color: white;
      box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
      border-radius: 50%;
      line-height: 1;
      cursor: pointer;
      transition: 200ms ease;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:hover {
        color: $orange;
      }

      &.compare {
      }

      &.favorite {
        .in-favorite {
          color: $orange;
        }
      }
    }
  }

  &-item {
    position: relative;

    &-wrap {
      flex: 0 0 33%;
      padding: 10px;

      @media (max-width: 450px) {
        flex: 1 1 100%;
      }

      @media (max-width: 720px) {
        flex: 1 1 50%;
      }
    }

    &-image {
      height: 300px;
      object-fit: contain;
    }

    &-name {
      margin-top: 15px;
      font-size: 20px;
    }


    &-price {
      &-group {
        display: flex;
        align-items: center;
        margin-top: 15px;

        div {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }

      &-discount {
        color: #ff1a4a;
        font-size: 18px;
        font-weight: bold;
      }

      &-old {
        position: relative;
        font-size: 14px;

        &:before {
          background-color: $error-color;
          content: '';
          top: 0;
          bottom: 0;
          margin: auto;
          height: 2px;
          width: 100%;
          position: absolute;
        }
      }
    }

    &-basket {
      margin-top: 15px;
    }

    &-link {
    }
  }
}