.catalog-filter {
  background: #fafafa;
  padding: 15px;

  &-item {
    width: 100%;

    &-title {
    }

    &-price-label {
      font-size: 14px;
      display: flex;

      i, div {
        padding: 5px;
      }
    }

    &-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      input {
        display: none;
      }
    }
  }

  .bx-ui-slider-track {
    background: #d7d7d7 !important;
  }

  .bx-ui-slider-pricebar-v {
    background: $orange !important;
    position: relative;
    height: 1px;
  }

  .bx-ui-slider-handle {
    top: -4px !important;
    background: $orange !important;
    border-radius: 50%;
    width: 11px !important;
    height: 11px !important;
    position: absolute;


    &.left {
      margin-left: 10px !important;
    }

    &.right {
      margin-right: 10px !important;
    }
  }

  .btn.btn-themes {
    @extend .btn-main;
  }

  .btn.btn-link {
    color: $text-color;
  }

  .bx-filter-popup-result {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    border: $orange 1px solid;
  }
}