.footer-social {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  &-item {
    width: 30px;
    display: block;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &-image {
    width: 100%;
    object-fit: contain;
  }
}