.footer-subscribe {
  width: 100%;

  &-form {
    width: 100%;

    &-input {
      outline: none;
      padding: 5px 15px;
      width: 100%;
      border: 1px solid $light-border;
    }

    &-submit {
      background-color: $orange;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      padding: 5px;
      width: 100%;
      border: 0;
      outline: 0;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        margin-left: 10px;
      }
    }
  }
}