.footer {
  margin-top: 2rem;
  background-color: #e5e3d7;
  padding: 3rem 0;

  &-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &-col {
    @media (max-width: 1200px) {
      width: 50%;
    }
  }

  &-title {
    font-size: 36px;
    line-height: 1;
  }

  &-descr {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
    color: #695b50;
  }

  &-phone, &-mail {
  }
}