.header-mobile {
  @media(min-width: 810px) {
    display: none;
  }

  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: silver solid 1px;

  &-logo {
    margin-left: 2rem;
    max-width: 100px;
  }

  &-icon {
    font-size: 33px;
    cursor: pointer;
  }

  &-cart {
    margin-left: 2rem;
  }

  &-search {
    margin-left: 2rem;
  }

  &-phone {
    margin-left: auto;
  }
}