.header-select-city {
  display: flex;
  align-items: center;

  &-title {
  }

  &-target {
    margin-left: 10px;
    border-bottom: 1px dashed $text-color;
    cursor: pointer;

    @extend .site-link;
  }

  &-dialog {
    display: none;
    max-width: 800px;
    width: 100%;
  }

  &-list {
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;

    &-item {
      overflow: hidden;
      max-width: 25%;
      width: 100%;
    }
  }
}