.header {
  @media(max-width: 809px) {
    display: none;
  }

  &-top-line {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  &-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color 200ms;
    cursor: pointer;
    color: $text-color;
    text-decoration: none !important;

    &:hover {
      color: $orange;
    }

    &-icon {
      font-size: 20px;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
    }

    &-counter {
      &.is-active {
        display: block;
      }

      display: none;
      padding: 6px;
      border-radius: 50%;
      line-height: 1;
      font-size: 13px;
      color: white;
      background-color: #f3a313;
      position: absolute;
      top: -10px;
      right: 0;
      width: 25px;
      height: 25px;
      text-align: center;
    }
  }
}