.header-mobile-menu {

  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 70%;
  height: 100%;
  background-color: white;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  flex-direction: column;

  &.active {
    //display: flex;
  }

  &-switch {
  }

  &-close {
    font-size: 33px;
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 1.2;
    cursor: pointer;

    &__icon {
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }

  &-container {
  }

  &-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    &-item {
      @extend .site-link;
      line-height: 1;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 18px;
      color: $text-color;

      &.active {
        border-left: 3px $orange solid;
      }
    }
  }
}