.index-about {
  &-container {
    display: flex;
    margin: 2rem 0;
  }

  &-logo {
  }

  &-text {
    font-size: 18px;
    max-width: 70%;
  }
}

.about-slider {
  .swiper-slide {
    height: 200px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}