.index-categories {
  display: flex;
  margin: 10px -20px 10px -5px;

  @media (max-width: 550px) {
    flex-direction: column;
    margin: 0;
  }

  &-col {
    flex: 0 0 33%;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  &-card {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;

    &:hover {
      .index-categories-card-background {
        width: 111%;
        height: 111%;
      }
    }

    &:before {
      margin-top: 60%;
      content: '.';
      font-size: 0;
      display: inline-block;
    }

    &-title {
      position: absolute;
      top: 0;
      left: 0;
      margin: 5%;
      z-index: 99;
      font-size: 20px;
      background-color: rgba(243, 163, 19, 0.7);
      color: $text-color;
      padding: 2px 5px;
      line-height: 1;

      &:hover {
        color: white;
      }
    }

    &-wrap {
      padding: 5px;
      color: black;

      &--1-2 {
        width: 100%;
      }

      &--1-4 {
        width: 50%;

        @media (max-width: 550px) {
          width: 100%;
        }
      }

      &--1-1 {
        width: 100%;
        height: 100%;
      }
    }

    &-background {
      transition: 500ms ease;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
}