.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  font-size: 18px;

  &-item {
    font-weight: 600;
  }

  &-link {
    &.active {
      color: $orange;
    }
  }
}