.product-info {
  display: flex;

  @media (max-width: 810px) {
    flex-direction: column;
  }

  &-left-side {
    flex: 1 1 30%;
    width: 30%;

    @media (max-width: 450px) {
      flex: 1 1 100%;
      width: 100%;
    }
  }

  &-main {
    flex: 1 1 40%;
    width: 40%;
    padding-right: 30px;

    @media (max-width: 810px) {
      flex: 1 1 100%;
      width: 100%;
      padding: 0;
    }
  }

  &-image {
    width: 100%;
    max-width: 100%;

    &-wrap {
      width: 100%;
    }
  }

  &-right-side {
    flex: 1 1 30%;
    width: 30%;

    @media (max-width: 810px) {
      flex: 1 1 100%;
      width: 100%;
    }
  }

  &-basket, &-favorite {
    border: 0;
    padding: 15px;
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
  }

  &-favorite {
    width: 100%;
    margin-left: 10px;

    .add-to-wishlist-react {
      flex: 0 0 15%;
    }
  }

  &-basket {
    width: 100%;

    &-control {
      display: flex;
      margin: 15px 0;

      .add-to-basket-react {
        //flex: 0 0 calc(85% - 10px);

        max-width: 180px;

        .btn-main {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .page-title {
    line-height: 1;
  }

  .catalog-item-price-group {
    margin: 20px 0;
  }

  &-description, &-more-props {
    margin-top: 2rem;
  }

  &-more-props {
    &-container {
      display: flex;
      flex-wrap: wrap;
    }

    .product-info-props {
      max-width: 250px;
      width: 100%;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      @media (max-width: 810px) {
        max-width: 100%;
        margin: 0.5rem 0 !important;
      }
    }
  }
}