.product-info-manufacture {
  display: flex;
  margin-top: 2rem;

  &-avatar {
    max-width: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    padding: 15px;
    margin-right: 2rem;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &-info {
    &-position {
      color: grey;
      line-height: 1;
    }

    &-name {
      font-size: 18px;
      font-weight: bold;
    }
  }
}