.product-info-props {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #e6e6e6 solid;
    color: #948981;
    margin-top: 5px;

    &-key {
      color: $text-color;
    }

    &-value {
      font-size: 14px;
    }
  }

  &-next {
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 2px dashed #e6e6e6;
    transition: 200ms ease;

    &:hover {
      color: $orange;
      border-bottom-color: $orange;
    }
  }
}