.profile-menu {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  &-item {
    @extend .site-link;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $text-color;


    &.active {
      .profile-menu-item__icon {
        color: $orange;
        box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2) inset;
      }
    }

    &__icon {
      color: $text-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      width: 40px;
      height: 40px;
      border: 1px #e6e6e6 solid;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}