.profile {
  flex: 1 1 50%;
  width: 50%;
  padding: 0 1rem;

  &-left-side, &-right-side {
  }

  &-left-side {
    flex: 0 0 20%;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px $light-border solid;
  }

  &-right-side {
    flex: 0 0 30%;
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 1px $light-border solid;
  }

  &-container {
    display: flex;
    margin-top: 20px;
  }

  &-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto 0 auto;

    &-avatar {
      padding: 0.2rem;
      border: 1px $light-border solid;
      border-radius: 7px;


      &__image {
        border-radius: 4px;
        border: 1px silver solid;
        max-width: 40px;
      }
    }

    &-logout {
      @extend .site-link;
      margin-top: 5px;
      border-bottom: 1px dashed $text-color;
      line-height: 1;
      cursor: pointer;
    }
  }

  &-cards {
    &-item {
      &__name {
      }

      &__info {
      }
    }
  }

  &-short-info {
    border: 1px solid $light-border;
    padding: 1rem;
    width: 100%;

    &-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      &-key {
        font-weight: bold;
      }

      &-value {
      }
    }

    &-detail {
      @extend .site-link;
      border: 2px dashed silver;
      padding: 5px 7px;
      font-size: 12px;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  &-orders {
    &-item {
      border: 1px $light-border solid;
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-detail {
        @extend .site-link;
        border-bottom: 1px dashed $text-color;
        line-height: 1.3;
      }
    }
  }
}