.search {
  &-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    &-wrap {
      width: 100%;
      max-width: 500px;
      display: flex;
      justify-content: flex-start;
    }

    &-input {
      flex: 1 1 85%;
      display: block;
      border: 2px $orange solid;
      border-radius: 5px 0 0 5px;
      padding: 5px;
      outline: none;

      & ~ button {
        border-left: 0;
      }
    }

    &-button {
      border-radius: 0 5px 5px 0;
      border: 2px $orange solid;
      background: $orange;
      color: white;
      flex: 1 1 3%;
      padding: 5px;
      transition: opacity 200ms ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}