.top-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;

  &-item {
    &:not(:first-child) {
      margin-left: 25px;
    }

    &-link {
      color: #5a6c7d;
      transition: 200ms ease;

      &:hover {
        text-decoration: none;
        color: $orange;
      }
    }
  }
}